{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title>AWAZONE | {% block title %}{% endblock %}</title>
<meta name="description" content="awazone">
<meta name="author" content="awazone">
<meta name="robots" content="noindex, nofollow">
<meta property="og:title" content="awazone">
<meta property="og:site_name" content="awazone">
<meta property="og:description" content="awazone">
<meta property="og:type" content="website">
<meta property="og:url" content="">
<meta property="og:image" content="">
<link rel="shortcut icon" href="{% static 'assets/media/favicons/favicon.png' %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/media/favicons/favicon.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/media/favicons/favicon.png' %}">
<link rel="stylesheet" id="css-main" href="{% static 'assets/css/dashmix.min.css' %}">
<link rel="stylesheet" id="css-theme" href="{% static 'assets/css/themes/xpro.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/chat.css' %}">
</head>
<body>
  <!-- ***** Preloader Start ***** -->
  <div id="preloader"></div>  
  <!-- ***** Preloader End ***** -->
  <div id="page-container" class="sidebar-dark side-scroll page-header-fixed page-header-dark main-content-boxed">
    <header id="page-header">
      <!-- Header Content -->
      <div class="content-header">
        <!-- Left Section -->
        <div class="d-flex align-items-center">
          <!-- Logo -->
          <a class="fw-semibold text-dual tracking-wide" href="">
            <img src="{% static "assets/media/logo/awazone_white_2.png" %}" style="width: 30%;height:70%">
          </a>
        </div>
        <div>
          <!-- User Dropdown -->
          <div class="dropdown d-inline-block">
            <button type="button" class="btn btn-alt-secondary dropdown-toggle" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="d-none d-sm-inline me-1">{{user.first_name}} {{user.last_name}}</span>
              <span class="badge rounded-pill bg-success">Admin</span>
            </button>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-user-dropdown">
              <div class="rounded-top fw-semibold text-white text-center bg-image" style="background-image: url('assets/media/photos/photo16.jpg');">
                <div class="p-3">
                  <img class="img-avatar img-avatar-thumb" src="{{user.profile_image.url}}" alt="">
                </div>
                <div class="p-3 bg-primary-dark-op">
                  <a class="text-white fw-semibold" href="">{{user.first_name}} {{user.last_name}}</a>
                  <div class="text-white-75">{{user.email}}</div>
                </div>
              </div>
              <div class="p-2">
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="{% url 'admin_profile' %}">
                  Profile
                  <i class="fa fa-fw fa-user-circle opacity-50 ms-1"></i>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="">
                  Websites
                  <div>
                    <span class="badge rounded-pill bg-primary">3</span>
                    <i class="fa fa-fw fa-globe opacity-50 ms-1"></i>
                  </div>
                </a>
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="">
                  Subscriptions
                  <div>
                    <span class="badge rounded-pill bg-primary">1</span>
                    <i class="fa fa-fw fa-sync-alt opacity-50 ms-1"></i>
                  </div>
                </a>
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="">
                  Billing
                  <i class="fab fa-fw fa-paypal opacity-50 ms-1"></i>
                </a>
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="">
                  Preferences
                  <i class="fa fa-fw fa-wrench opacity-50 ms-1"></i>
                </a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="{% url 'user_logout' %}">
                  Log Out
                  <i class="fa fa-fw fa-sign-out-alt text-danger ms-1"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="dropdown d-inline-block" id="notificationBell">
            <button type="button" class="btn btn-alt-secondary" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-fw fa-bell"></i><sup><span class="nav-main-link-badge badge rounded-pill bg-success" id="notification_count"></span></sup>
            </button>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
              <div class="bg-primary-dark rounded-top fw-semibold text-white text-center p-3">
                Notifications
              </div>
              <ul class="nav-items my-2">
                <li>
                  <a class="d-flex text-dark py-2" href="">
                    <div class="flex-shrink-0 mx-3">
                      
                    </div>
                    <div class="flex-grow-1 fs-sm pe-2">
                      <div class="notification">
                        <div class="notification" data-notification-id="{{notification.id}}">
                          <span class="message" id="notifications"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <div class="p-2 border-top">
                <form id="markAsReadForm" method="post" action="{% url 'mark-notification-as-read' %}">
                    {% csrf_token %}
                    <input type="hidden" name="seenNotifications" value="" id="seenNotifications" />
                    <button type="submit" class="btn btn-secondary w-100" onclick="markAsSeen(event)"> <i class="fa fa-fw fa-eye opacity-50 me-1"></i> Viewed</button>
                </form>
              </div>    
            </div>
          </div>
          <!-- END User Dropdown -->
        </div>
        <!-- END Right Section -->
      </div>
      <!-- END Header Content -->
    
      <!-- Header Search -->
      <div id="page-header-search" class="overlay-header bg-header-dark">
        <div class="content-header">
          <form class="w-100" action="" method="POST">
            <div class="input-group">
              <button type="button" class="btn btn-primary" data-toggle="layout" data-action="header_search_off">
                <i class="fa fa-fw fa-times-circle"></i>
              </button>
              <input type="text" class="form-control" placeholder="Search your websites.." id="page-header-search-input" name="page-header-search-input">
            </div>
          </form>
        </div>
      </div>
      <div id="page-header-loader" class="overlay-header bg-primary">
        <div class="content-header">
          <div class="w-100 text-center">
            <i class="fa fa-fw fa-2x fa-spinner fa-spin text-white"></i>
          </div>
        </div>
      </div>
      <!-- END Header Loader -->
    </header>
    <!-- END Header -->
    
    <main id="main-container">
      <div>
        <div class="bg-sidebar-dark">
          <div class="content">
            <!-- Toggle Main Navigation -->
            <div class="d-lg-none push">
              <!-- Class Toggle, functionality initialized in Helpers.dmToggleClass() -->
              <button type="button" class="btn w-100 btn-primary d-flex justify-content-between align-items-center" data-toggle="class-toggle" data-target="#main-navigation" data-class="d-none">
                Menu
                <i class="fa fa-bars"></i>
              </button>
            </div>
            <div id="main-navigation" class="d-none d-lg-block push">
              <ul class="nav-main nav-main-horizontal nav-main-hover nav-main-dark">
                <li class="nav-main-item">
                  <a class="nav-main-link active" href="{% url 'admin_dashboard' %}">
                    <i class="nav-main-link-icon fa fa-chart-pie"></i>
                    <span class="nav-main-link-name">Dashboard</span>
                  </a>
                </li>
                <li class="nav-main-heading">Manage</li>
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="">
                    <i class="nav-main-link-icon fa fa-globe"></i>
                    <span class="nav-main-link-name">AIBOEarn</span>
                  </a>
                  <ul class="nav-main-submenu">
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="{% url 'view_sectors' %}">
                        <span class="nav-main-link-name">Sectors</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="{% url 'view_assets' %}">
                        <span class="nav-main-link-name">Assets</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Transaction</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="">
                        <span class="nav-main-link-name">Settings</span>
                      </a>
                      <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                          <a class="nav-main-link" href="">
                            <i class="nav-main-link-icon fa fa-coffee"></i>
                            <span class="nav-main-link-name">Overview</span>
                          </a>
                        </li>
                        <li class="nav-main-item">
                          <a class="nav-main-link" href="">
                            <i class="nav-main-link-icon fa fa-users"></i>
                            <span class="nav-main-link-name">Visitors</span>
                          </a>
                        </li>
                        <li class="nav-main-item">
                          <a class="nav-main-link" href="">
                            <i class="nav-main-link-icon fa fa-file-alt"></i>
                            <span class="nav-main-link-name">Content</span>
                          </a>
                        </li>
                        <li class="nav-main-item">
                          <a class="nav-main-link" href="">
                            <i class="nav-main-link-icon fa fa-rocket"></i>
                            <span class="nav-main-link-name">Technology</span>
                          </a>
                        </li>
                        <li class="nav-main-item">
                          <a class="nav-main-link" href="">
                            <i class="nav-main-link-icon fa fa-share-alt"></i>
                            <span class="nav-main-link-name">Social</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="">
                    <i class="nav-main-link-icon fa fa-sync-alt"></i>
                    <span class="nav-main-link-name">AIBOPay</span>
                  </a>
                  <ul class="nav-main-submenu">
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="{% url 'manage_rates' %}">
                        <span class="nav-main-link-name">Billing Mgt.</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Funds Mgt.</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Transaction</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-main-heading">Account</li>
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="">
                    <i class="nav-main-link-icon fa fa-user-circle"></i>
                    <span class="nav-main-link-name">Account</span>
                  </a>
                  <ul class="nav-main-submenu">
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Manage</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="{% url 'admin_view_rank' %}">
                        <span class="nav-main-link-name">Rank Settings</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Make Payment</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">View Invoices</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Security</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Statistics</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-main-item">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="">
                    <i class="nav-main-link-icon fa fa-life-ring"></i>
                    <span class="nav-main-link-name">Support</span>
                  </a>
                  <ul class="nav-main-submenu">
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Contact Support</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="">
                        <span class="nav-main-link-name">Knowledge Base</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-main-item ms-lg-auto">
                  <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="">
                    <i class="nav-main-link-icon fa fa-wrench"></i>
                    <span class="nav-main-link-name">Others</span>
                  </a>
                  <ul class="nav-main-submenu nav-main-submenu-right">
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="{% url 'manage_terms_and_conditions' %}">
                        <i class="nav-main-link-icon fa fa-file-contract text-default"></i>
                        <span class="nav-main-link-name">T&C's</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" href="{% url 'view_slides' %}">
                        <i class="nav-main-link-icon fa fa-sliders text-xwork"></i>
                        <span class="nav-main-link-name">Slides</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" data-toggle="theme" data-theme="assets/css/themes/xmodern.min.css" href="">
                        <i class="nav-main-link-icon fa fa-credit-card text-xmodern"></i>
                        <span class="nav-main-link-name">Pawa Card</span>
                      </a>
                    </li>
                    <li class="nav-main-item">
                      <a class="nav-main-link" data-toggle="theme" data-theme="assets/css/themes/xeco.min.css" href="">
                        <i class="nav-main-link-icon fa fa-shopping-cart text-xeco"></i>
                        <span class="nav-main-link-name">Market Place</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- END Main Navigation -->
          </div>
        </div>
      </div>
      <div class="bg-body-extra-light">
        <div class="content content-full">
          <div class="col-sm-8" style="margin: auto;" id="message">
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger" style="margin-top: 10px;text-align:center" id="messgaes">{{message}}</div>
            {% endif %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success" style="margin-top: 10px;text-align:center" id="messgaes">{{message}}</div>
            {% endif %}
            {% endfor %}  
          </div>
          <div id="content">
              {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>
    <footer id="page-footer" class="footer-static bg-body-extra-light">
      <div class="footer-content">
        &copy; <span data-toggle="year-copy"></span>  Powered by Awazone
      </div>
    </footer>
  <style>
    .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #333;
      color: #fff;
      padding: 20px;
    }
    #preloader{
      background: white url('{% static "assets/media/preloader/preloader2.gif" %}') no-repeat center center;
      background-size: 30%;
      height: 100vh;
      width: 100%;
      position: fixed;
      z-index: 100;
    }
    #empty{
        color: red;
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: center;
      }
  </style>
  <script src="{% static 'assets/js/app.js' %}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Function to get CSRF token from cookies
    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Call getNotifications function when page loads
    window.addEventListener('load', function() {
      getNotifications();
    });

    var Notifications = document.getElementById("notifications");
    var Notification_count = document.getElementById("notification_count")

    // Function to fetch and display notifications
    function getNotifications() {
        fetch('/get-notifications/', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken') // Ensure CSRF token is included
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch notifications');
                }
                return response.json();
            })
            .then(data => {
                // Handle the fetched notifications data
                const notifications = data['unread_notifications'];
                const unreadCount = data['unread_count'];

                Notifications.innerHTML = ''; // Clear previous content
                Notification_count.innerHTML = unreadCount;
                notifications.forEach(notification => {
                    // Create a new span element for each notification
                    var notificationSpan = document.createElement('span');
                    // Set the text content of the span to the notification message
                    notificationSpan.textContent = notification['message'];
                    // Append the span to the notifications container
                    Notifications.appendChild(notificationSpan);
                    // Add line break after each notification
                    Notifications.appendChild(document.createElement('br'));
                });
            })
            .catch(error => {
                console.error('Error fetching notifications:', error);
            });
    }

    function markAsSeen(event) {
    event.preventDefault(); // Prevent default form submission
    fetch('/mark-notification-as-read/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken') // Ensure CSRF token is included
            },
            body: JSON.stringify({ seenNotifications: getSeenNotifications() })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Failed to mark notifications as read');
            }
            return response.json();
        })
        .then(data => {
            if (data.status === 'success') {
                // Redirect to the previous page
                const refererUrl = data.referer || '/';
                window.location.href = refererUrl;
            } else {
                console.error('Error marking notifications as read:', data.message);
            }
        })
        .catch(error => {
            console.error('Error marking notifications as read:', error);
        });
    }

    // Function to get the list of seen notifications (if needed)
    function getSeenNotifications() {
        // Implement this function if you need to collect the IDs of seen notifications
        // For example:
        // return document.getElementById('seenNotifications').value;
        return '';
    }

    // Function to get CSRF token from cookies
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }
    
    const loader = document.getElementById("preloader");
    window.addEventListener("load",function(){
      loader.style.display = "none";
    })
    var message_element = document.getElementById("message")

    setTimeout(function(){
      message_element.style.display = "none";
    },5000);
  </script>
</body>
</html>