{% extends "admin_base.html" %}
{% load static %}]
{% block content %}
<main id="main-container">
  <div class="bg-image">
    <div class="bg-black-50">
      <div class="content content-top content-full text-center">
        <h1 class="fw-bold text-white mt-5 mb-2">
          AIBO EARN ASSETS
        </h1>
        <h3 class="fw-normal text-white-75 mb-5">Invest in Major economic assets on aibo earn.</h3>
      </div>
      <div class="col-md py-3 d-md-flex align-items-md-center justify-content-md-end text-center">
        <div class="block-content block-content-full text-end bg-body">
          <a class="btn btn-primary btn-sm btn-primary rounded-pill px-3" href="{% url 'add_asset' %}">
            <i class="far fa-book fa-plus"></i> Launch New Asset
          </a>             
        </div>
      </div>
    </div>
  </div>
  <div class="content content-full">
    <div class="row text-center">
      <div class="col-6 col-xl-3">
        <a class="block block-rounded" href="">
          <div class="block-content block-content-full">
            <div class="py-md-3">
              <div class="py-3 d-none d-md-block">
                <i class="fa fa-2x fa-line-chart text-primary"></i>
              </div>
              <p class="fs-4 fw-bold mb-0">
                {{assets.count}}
              </p>
              <p class="text-muted mb-0">
                Assets
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-xl-3">
        <a class="block block-rounded" href="">
          <div class="block-content block-content-full">
            <div class="py-md-3">
              <div class="py-3 d-none d-md-block">
                <i class="fa fa-2x fa-globe text-primary"></i>
              </div>
              <p class="fs-4 fw-bold mb-0">
                {{sectors.count}}
              </p>
              <p class="text-muted mb-0">
                sectors
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-xl-3">
        <a class="block block-rounded" href="">
          <div class="block-content block-content-full">
            <div class="py-md-3">
              <div class="py-3 d-none d-md-block">
                <i class="fa fa-2x fa-cart-plus text-primary"></i>
              </div>
              <p class="fs-4 fw-bold mb-0">
                {{purchases.count}}
              </p>
              <p class="text-muted mb-0">
                Purchases
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-xl-3">
        <a class="block block-rounded" href="{% url 'view_sectors' %}">
          <div class="block-content block-content-full">
            <div class="py-md-3">
              <div class="py-3 d-none d-md-block">
                <i class="fa fa-2x fa-shopping-cart text-primary"></i>
              </div>
              <p class="fs-4 fw-bold mb-0">
                {{sales.count}}
              </p>
              <p class="text-muted mb-0">
                Sales
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-6 mb-3">
        <h2 class="fw-light mb-0" style="color: blue;">AIBO EARN ASSETS</h2>
      </div>
      <div class="content" id="assets">
        <div class="row">  
          {% for asset in assets %}
          <div class="col-md-12 col-xl-4">
            <div class="block block-rounded">
              <div class="block-content p-0 overflow-hidden">
                <a class="img-link img-fluid-100" data-toggle="layout" data-action="side_overlay_open" href="">
                  <img class="img-fluid rounded-top" src="{{ asset.image.url }}" alt="">
                </a>
              </div>
              <div class="block-content">
                <h3 class="h4 mb-2" style="color:darkblue ;">{{ asset.asset }} ({{asset.id}})</h3>
                <em class="text-muted">Available: {{asset.is_available}}</em><br>
                <span class="text-primary">Launched</span> on <em class="text-muted">{{asset.launch_date}}</em><br>
                <span class="text-primary">{{asset.sector}}</span><br>
                <p>
                  {{asset.description}}
                </p>
                <div class="p-1 p-md-3 w-100">
                  <div class="mb-0">
                    <div class="progress mb-1" style="height: 6px;">
                      <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{asset.percentage_bought}}%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="fs-sm fw-semibold mb-3">
                      <span class="fw-bold">{{asset.sold_out_volume}}</span> of <span class="fw-bold">{{asset.total_shares}}</span> Market Cap Sold
                    </p>
                  </div>
                </div>
              </div>
              <div class="block-content p-0">
                <div class="row text-center m-0 border-top border-bottom bg-body-light">
                  <div class="col-6 border-end" style="color: green;">
                    <p class="py-3 mb-0">Daily Rate<br>
                      <i class="fa fa-line-chart me-1"></i> <strong>{{ asset.rate }}%</strong>
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="py-3 mb-0">Share Rate<br>
                      <i class="fa fa-line-chart me-1"></i> <strong>{{ asset.currency}} {{ asset.share_rate}}</strong>
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="py-3 mb-0">Minimum Purchase Amount<br>
                      <i class="fa fa-bar-chart me-1"></i> <strong>{{ asset.currency}} {{ asset.minimum_purchase_amount}}</strong>
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="py-3 mb-0">Withdrawal Duration<br>
                      <i class="fa fa-clock me-1"></i> <strong>{{ asset.minimum_duration}} days</strong>
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="py-3 mb-0">Time Span<br>
                      <i class="fa fa-clock me-1"></i> <strong>{{ asset.maximum_duration}} days</strong>
                    </p>
                  </div>
                </div>
              </div>
              <div class="block-content block-content-full">
                <div class="row">
                  <!-- <div class="col-6">
                    <a class="btn btn-sm btn-primary w-100" href="">
                      <i class="fa fa-cart-arrow-down opacity-50 me-1"></i>
                      Purchase
                    </a>
                  </div> -->
                  <div class="col-6">
                    <a class="btn btn-sm btn-alt-primary w-100" href="{% url 'update_asset' asset.id %}">
                      <i class="fa fa-wrench opacity-50 me-1"></i>
                      Manage
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<style>
  .bg-image{
        background-image: url('{% static "assets/media/photos/bgd.png" %}');
      }
</style>
{% endblock %}