{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}RESET PIN{% endblock %}
{% block content %}
<div class="content content-full">
  <div class="block block-rounded">
    <div class="content content-full content-boxed">
        <form method="POST">
            {% csrf_token %}
          <div class="block">
            <div class="block-header block-header-default">
              <h3>RESET PIN</h3>
              <div class="block-options">
                <div class="form-check form-switch">
                </div>
              </div>
            </div>
            <div class="block-content">
              <div class="row justify-content-center push">
                <div class="col-md-10">
                  <div class="mb-4">
                    {{pin|crispy}}                                      
                  </div>
                </div>
              </div>
            </div>
            <div class="block-content bg-body-light">
              <div class="row justify-content-center push">
                <div class="col-md-10">
                  <button type="submit" class="btn btn-alt-primary">
                    <i class="fa fa-fw fa-wrench opacity-50 me-1"></i> RESET
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}