{% extends "base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}RESET PASSWORD{% endblock %}
{% block content %}
<form class="js-validation-signin" method="POST">
  {% csrf_token %}
  {{form|crispy}}<br>
  <div>
    {% for message in messages %}
    {% if message.tags == 'error' %}
    <div class="alert alert-danger" style="margin-top: 10px;text-align:center" id="messgaes">{{message}}</div>
    {% endif %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success" style="margin-top: 10px;text-align:center" id="messgaes">{{message}}</div>
    {% endif %}
    {% endfor %}  
  </div>
  <div class="text-center mb-4">
    <button type="submit" class="btn btn-hero btn-primary">
      <i class="fa fa-fw fa-sign-in-alt opacity-50 me-1"></i> Reset Password
    </button>
  </div>
</form>
{% endblock %}