{% extends "base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}PASSWORD RESET COMPLETE{% endblock %}
{% block content %}
<div class="mb-2 text-center">
  <a class="link-fx fw-bold fs-1" href="{% url 'about' %}">
    <img src="{% static "assets/media/logo/awazone_blue.png" %}" style="width: 70%;height:100%">
  </a>
  <p class="text-uppercase fw-bold fs-sm text-muted">Password Reset</p>
  <div style="border-radius: 200px; height: 200px; width: 200px; background:#f8faf5; margin:0 auto;">
      <i id="handshake" class="nav-main-link-icon fa fa-handshake"></i>
  </div><br>
  <h4 style="color: green;">PASSWORD RESET SUCCESSFUL!</h4>
  <p>Your Password was succesfully change!</p>
  <p></p>
  <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="{% url 'user_login' %}">
    <i class="fa fa-sign-in-alt opacity-50 me-1"></i> Back to Sign In
  </a>
</div>
{% endblock %}