{% extends "base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}SIGN UP{% endblock %}
{% block content %}
<form class="js-validation-signup" method="POST">
  {% csrf_token %}
  <div class="py-3">
    <div class="form-group col-md-12 mb-0" style="justify-content:center ;">
      {{ form|crispy }}<br>
    </div><br>
    <div class="col-sm-8" style="margin: auto;" id="message">
      {% for message in messages %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" style="margin-top: 10px;text-align:center" id="messgaes">{{message}}</div>
      {% endif %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success" style="margin-top: 10px;text-align:center" id="messgaes">{{message}}</div>
      {% endif %}
      {% endfor %}  
    </div>
    <div class="mb-4">
      <input type="checkbox" class="form-check-input" id="signup-terms" name="signup-terms"> I agree to 
        <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="" data-bs-toggle="modal" data-bs-target="#modal-terms" id="terms-and-conditions-button">
          <i class="fa fa-book opacity-50 me-1"></i>  Terms &amp; Conditions
        </a>
      </label>
    </div>
  </div>
  <div class="mb-4">
    <button type="submit" class="btn w-100 btn-lg btn-hero btn-primary" name="submit" id="Login" value="Sign in" width="104" height="25" border="0" tabindex="5" onclick="showDiv()">
      <i class="fa fa-fw fa-user-plus opacity-50 me-1"></i> Sign Up
    </button>
    <p class="mt-3 mb-0 d-lg-flex justify-content-lg-between">Already Activated?
      <a class="btn btn-sm btn-alt-secondary d-block d-lg-inline-block mb-1" href="{% url 'user_login' %}">
        <i class="fa fa-sign-in-alt opacity-50 me-1"></i> Sign In
      </a>
    </p>
  </div>
  <div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-labelledby="modal-terms" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="block block-themed block-transparent mb-0">
          <div class="block-header bg-primary-dark">
            <h3 class="block-title" id="title"></h3>
            <div class="block-options">
              <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                <i class="fa fa-fw fa-times"></i>
              </button>
            </div>
          </div>
          <div class="block-content">
            <pre id="terms-and-conditions"></pre>
          </div>
          <div class="block-content block-content-full text-end bg-body">
            <p class="fw-semibold fs-sm py-1"></p>
            <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var titleElement = document.getElementById("title");
      var termsAndConditionsElement = document.getElementById("terms-and-conditions");
      var termsAndConditionsButton = document.getElementById('terms-and-conditions-button');

      // Check if elements exist before adding event listener
      if (termsAndConditionsButton && titleElement && termsAndConditionsElement) {
          termsAndConditionsButton.addEventListener('click', function (){
              const url = `/terms-and-conditions/`;

              fetch(url)
                  .then(response => {
                      if (!response.ok) {
                          throw new Error('Network response was not ok');
                      }
                      return response.json();
                  })
                  .then(data => {
                      // Assuming response contains 'title' and 'content' fields
                      const { title, content } = data;
                      titleElement.innerText = title;
                      termsAndConditionsElement.innerText = content;
                  })
                  .catch(error => {
                      console.error('Error fetching data:', error);
                  });
          });
      } else {
          console.error('One or more required elements not found.');
      }
  });
</script>
{% endblock %}