{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}AIBO RANK VERIFICATION{% endblock %}
{% block content %}
<div class="content content-full content-boxed">
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="block">
      <div class="block-header block-header-default">
        <h3>AIBO RANK VERIFICATION</h3>
      </div>
      {% if reward.recieved != True and reward.qualified != True %}
      <div class="block-content">
        <div class="row justify-content-center push">
          <div class="col-md-10">
            <div class="mb-4">
              {{testimonial|crispy}}
            </div>
          </div>
        </div>
      </div>
      <div class="block-content bg-body-light">
        <div class="row justify-content-center push">
          <div class="col-md-10">
            <button type="submit" class="btn btn-alt-primary">
              <i class="fa fa-fw fa-check opacity-50 me-1"></i> Verify
            </button>
          </div>
        </div>
      </div>
      {% elif reward.recieved == True and reward.qualified != True %}
      <span id="empty">Your Current Rank is under Verification!</span>
      {% elif reward.recieved == True and reward.qualified == True %}
      <span id="empty">Your Current Rank has been Verified! Do more with AIBO to be promoted to the next Level!</span>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}