{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} PROFILE | {{user.first}} {{user.last_name}}{% endblock %}
{% block content %}
<div class="content content-full">
  <div class="block block-rounded">
    <div class="block-content text-center">
      <div class="py-4">
        <div class="mb-3">
          <img class="img-avatar img-avatar96" src="{{user.profile_image.url}}" alt="">
        </div>
        <h1 class="fs-lg mb-0">{{data.user.first_name}} {{data.user.last_name}}</h1>
        <p class="text-muted"><i class="fa fa-user"></i> {{data.user.username}}</p>
        <a class="btn btn-primary btn-sm btn-primary rounded-pill px-3" href="{% url 'update_profile' %}">
          <i class="far fa-book fa-user"></i> Update Info
        </a>
      </div>
    </div>
    <div class="block-content bg-body-light text-center">
      <div class="row items-push text-uppercase">
        <div class="col-6 col-md-3">
          <div class="fw-semibold text-dark mb-1">ACCOUNT BALANCE</div>
          <a class="link-fx fs-3" href="">NGN {{data.wallet.balance}}</a>
        </div>
        <div class="col-6 col-md-3">
          <div class="fw-semibold text-dark mb-1">ARP</div>
          {% if data.aibo == None %}
          <a class="link-fx fs-3" href="">0</a>
          {% else %}
          <a class="link-fx fs-3" href="">{{data.aibo.arp}}</a>
          {% endif %}
        </div>
        <div class="col-6 col-md-3">
          <div class="fw-semibold text-dark mb-1">Rank</div>
          {% if data.aibo == None %}
          <a class="link-fx fs-3" href="">Free Citizen</a>
          {% else %}
          <a class="link-fx fs-3" href="">{{data.aibo.title}}</a>
          {% endif %}
        </div>
        <div class="col-6 col-md-3">
          <div class="fw-semibold text-dark mb-1">TEAM SIZE</div>
          <a class="link-fx fs-3" href="">{{data.user.team}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-rounded">
    <div class="block-header block-header-default">
      <h3 class="block-title">USER INFO</h3>
    </div>
    <div class="block-content">
      <div class="row">
        <div class="col-lg-6">
          <div class="block block-rounded block-bordered">
            <div class="block-header border-bottom">
              <h3 class="block-title">CONTACT INFO</h3>
            </div>
            <div class="block-content">
              <address class="fs-sm">
                <p class="text-muted"><i class="fa fa-envelope"></i> {{data.user.email}}</p>
                <p class="text-muted"><i class="fa fa-phone"></i> {{data.user.phone_number}}</p>
              </address>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="block block-rounded block-bordered">
            <div class="block-header border-bottom">
              <h3 class="block-title">OTHER INFO</h3>
            </div>
            <div class="block-content">
              <address class="fs-sm">
                <p class="text-muted"><i class="fa fa-wallet"></i> {{data.wallet.wallet_number}}</p>
                <p class="text-muted"><i class="fa fa-users"></i> {{data.user.user_code}}</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}