{% extends "base.html" %}
{% load static %}
{% block title %}AIBO RANKS{% endblock %}
{% block content %}
<main id="main-container">
  <div class="bg-image">
    <div class="bg-black-75">
      <div class="content content-boxed text-center">
        <div class="py-5">
          <h1 class="fs-2 fw-normal text-white mb-2">
            <i class="fa fa-line-chart me-1"></i> AIBO RANKS
          </h1>
          <h2 class="fs-4 fw-normal text-white-75">Build a community an earn more ARP!, to qualify</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="content content-boxed overflow-hidden">
    <div class="row py-5">
      {% for level in levels %}
      <div class="col-md-6 col-xl-3">
        <a class="block block-link-pop block-rounded text-center" href="">
          <div class="block block-rounded block-themed text-center">
            <div class="block-header bg-muted" style="color: white;">
              <h3 class="block-title" id="rank1">{{level.level}} - {{ level.title }}</h3>
            </div>
            <div class="block-content">
              <div class="py-2">
                <span class="h1 fw-bold mb-2"><h5>REQUIREMENTS</h5></span>
                <p class="h6 text-muted"> Direct Team: {{level.direct_team}} {{ level.title }}</p>
                <p class="h6 text-muted"> Team Size: {{level.number_team}} Team Member</p>
                <p>
                  <strong>Reward</strong><br>
                </p>
                <pre>{{ level.user_reward }}</pre>
                <p>
                  <strong>Description</strong><br>
                </p>
                <pre>{{ level.description }}</pre>
              </div>
            </div>
            {% if level == aibo.level %}
            <div class="block-content block-content-full bg-body-light">
              <span class="btn btn-hero btn-primary px-4">
                <i class="fa fa-certificate opacity-70 me-1"></i> Current Level
              </span>
            </div>
            {% endif %}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
<style>
  .bg-image{
    background-image: url('{% static "assets/media/photos/bgd.png" %}');
  }
</style>
{% endblock %}